.nav {
    display: flex;
    justify-content: space-between;
  }

  .nav__logo {
    width: 105px;
    height: 39px;
  }

  .nav__links {
    display: flex;
    padding: 0;
    margin: 0;
    column-gap: 20px;
    list-style-type: none;
    font-weight: 500;
  }
  
  .nav__link {
    text-decoration: none;
    color: #000;
    transition: color 0.4s ease-in-out;
  }
  
  .nav__link:hover {
    color: #2f80ed;
  }